$main-button-color: #00AE8E;
$main-button-text-color: #fff;
$light-color-line: #02B4A5;
$hover-color-line: #202020;
$color-black: #000;
$txt-color-img: #006C55;
$block-color: #F4F4F4;
$footer-line-color: #7B7979;
