*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background: green;
    padding: 40px;
}
main{
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
}
footer{
    background: #0a4b78;
    padding: 40px;
    width: 100%;
}